.stats-container {
	display: flex;
	flex-direction: column;
	background-color: #16161a;
	border-radius: 8px;
	padding: 12px;
	min-width: 300px;
}
.bar-stats .ant-statistic-content-value {
	display: flex;
	align-items: center;
	padding-top: 8px;
}